.hero {
  font-family: Muni;
}

.caseListItem:hover {
  background-color: #f0f4f8;
}

.infoText {
  font-size: 12px;
  color: #0d6efd;
}

.circle {
  border-radius: 50%;
  height: 0.5em;
  margin-top: 0.4em;
  margin-right: 0.3em;
  margin-left: 1em;
  width: 0.5em;
  float: left;
}

.bg-clean,
.btn-bg-clean {
  background-color: #f0f4f8 !important;
  border: 1px solid lightgray !important;
}

.bg-filter {
  background-color: white !important;
  border: 1px solid #62b0e8 !important;
  color: #2680c2 !important;
}

.accordion-button,
.accordion-body {
  padding: 0 !important;
}
.accordion-item {
  background: none !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}

:root {
  --main-color: #62b0e8;
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  /* Default mark color*/
  --mark-color: #aaaaaa;
}

.customSlider {
  margin: auto;
}

.customSlider-track {
  top: 6px;
  height: 4px;
  cursor: pointer;
  background: var(--main-color);
}

.disabled > .customSlider-track {
  top: 6px;
  height: 4px;
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  background: var(--track-color);
}

.customSlider-track.customSlider-track-2 {
  background: var(--track-color);
}

.customSlider-thumb {
  cursor: pointer;
  background: var(--main-color);
  width: 8px;
  height: 18px;
  outline: none;
}

.disabled > .customSlider-thumb {
  background: var(--track-color);
  width: 8px;
  height: 18px;
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.disabled > .customSlider-thumb:hover {
  box-shadow: none;
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: var(--mark-color);
}

.customSlider-mark.customSlider-mark-before {
  background-color: var(--main-color);
}

.customSlider-mark.customSlider-mark-active {
  display: none;
}

.year {
  font-weight: bold;
  color: #2680c2;
}
